.card_container{
    width: 260px;
    height: 354px;
    border-radius: 20px;
    background: orange;
    color: black;
    position: relative;
    padding: 1rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

.card_container:hover{
    border-color: #FFA600;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card_container:hover .button{
    transform: translate(-50%, 50%);
    opacity: 1;
}

.card_detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: black;
}

.button{
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #FFA600;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}

.title{
    font-size: 1.5em;
 font-weight: bold;
}

.img{
    width: 230px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}